.main-container {
    display: flex;
}

.activities-container {
    background-color: #F6F6E6;
    width: 70%;
    padding: 50px;

}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;

}

.activity-calculation-container {
    padding-left: 30px;
}